<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>CONFIRMACION</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--BOOTSTRAP 4-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel='stylesheet' type="text/css" href='<%=context%>/stylesheets/index.css' />
</head>

<body>
    <div id="buttonMenuPortales123" style="position:fixed; z-index:4; text-align: right"></div>
    <script src="https://<%=portalName%>.etsit.upm.es/<%=session.portal%>/static-button"></script>
    <script>
        let context = '<%-context%>';
        document.addEventListener('DOMContentLoaded', dibujarmenulateral("buttonMenuPortales123", context + "/logout", '<%=session.user.mailPrincipal%>', '<%=session.user.givenname%>', '<%=pruebasBoolean%>'));
    </script>
    <nav class="barraInicio navbar navbar-expand-md navbar-dark">
        <span class="navbar-brand"><%=barraInicioText%></span>
    </nav>

    <div class="textoInicio">
        <p>
            <b><%=mensaje%></b>
            <br>
            Para volver a la página inicial de permisos, haga click en el siguiente botón:
        </p>
        <a href="<%=context%>/permisos">Volver</a>
    </div>
</body>

</html>